Repository DmitrievichLevin/gsm_worker_pi: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, reorder-python-imports

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        args:
          [
            "--preview",
            "--force-exclude",
            "noxfile",
            "--include",
            "(\\.py)$",
            "--diff",
          ]
        language: system
        types: [python]
        require_serial: true
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
      - id: reorder-python-imports
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

XBot 0.1
  requirements.txt
Due: none

XBot 0.2
  _visited.json
  pyproject.toml
  requirements.txt
  src/notif_svr/x_rss/get_feed.py
Due: black, check-toml, flake8, reorder-python-imports

XBot 0.3
  src/notif_svr/x_rss/dl_chrom.sh
  src/notif_svr/x_rss/get_feed.py
Due: black, flake8, reorder-python-imports

XBot 0.3
  src/notif_svr/x_rss/dl_chrom.sh
Due: none

XBot 0.4
  src/notif_svr/x_rss/get_feed.py
Due: black, flake8, reorder-python-imports

XBot 0.5
  src/notif_svr/x_rss/get_feed.py
Due: black, flake8, reorder-python-imports
